<application>
    <name>AthleteRobotInterface</name> //this can be anything, just a symbolic name
    
    <module>
        <name>run_athletebot</name>
        <parameters>--from athletebot.ini</parameters>
        <node>/bbb</node>
        <workdir>/home/bbb-user/Code/beaglebone-black-yarp/src/modules/athleteInterface</workdir>
    </module>
    
    <module>
        <name>robotInterface</name>
        <parameters>--from robotInterface.ini</parameters>
        <node>/bbb</node>
        <workdir>/home/bbb-user/Code/beaglebone-black-yarp/conf/athletebot</workdir>
    </module>
    
    <module>
        <name>yarpdev</name>
        <parameters>--device inertial --name /athletebot/inertial --subdevice xsensmtx --serial /dev/ttyUSB0</parameters>
        <node>/bbb</node>
    </module>
    
</application>
